<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Camp</title>
</head>
<body>
    <h1>Create Camp</h1>
    <form action="/campgrounds/new" method="post">
        <div>
            <label for="title">Camp title:</label>
            <input type="text" name="campground[title]" id="title">
        </div>
        <div>
            <label for="location">Camp Location: </label>
            <input type="text" name="campground[location]" id="location">
        </div>
        <button type="submit">Add Campground</button>
    </form>
    <a href="/campgrounds">Back Home</a>
</body>
</html>